html {
    height: 100%; }

body {
    color: white;
    background: #000 url(http://www.publicdomainpictures.net/pictures/150000/velka/tropical-beach-1454007190ZAK.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0; }

.container {
    height: 100%;
    background: rgba(255, 255, 255,.3);
}

h1 {
    text-align: center;
    margin: 0;
    padding: 40px 0 20px 0; }

ul {
    max-width: 700px;
    margin: 40px auto 0; }

a {
    text-decoration: none;
    color: inherit; }

li {
    background: rgba(255, 255, 255, .7);
    color: #000;
    list-style: none;
    padding: 10px 20px;
    width: 6%;
    height: 8vmin;
    text-shadow: 0px -1px 2px white;
    display: inline-block;
    float:  left;
    margin: .5px; }
    li:hover, li:focus {
    transition: .3s;
    color: #FFF;
    background: rgba(100, 100, 100, .2);
    cursor: pointer; }

h1, li:hover {
    text-shadow: 0 -1px 1px black; 
}

.monthContainer {
    position: fixed;
    width: 100%;
    top: 90%;
    text-align: center;
    left: 50%;
    font-family: sans-serif;
    transform: translate(-50%, -50%); }
    .monthContainer label {
        background: rgba(0, 0, 0, .6);
        font-size: inherit;
        padding: 10px 25px;
        border-radius: 5px 0px 0px 5px; }
    .monthContainer select {
        -webkit-appearance: button;
        border-radius: 0px 5px 5px 0px;
        color: #444;
        font-size: inherit;
        position: relative;
        left: -5px;
        top: 1px;
        padding: 10px 25px;
        text-align: center; }